body {
  h1 {
    color: rgb(128, 0, 100)
  } // body h1 {}

  h1 {

    p {
    color: rgb(235, 8, 8)
    } // body h1 p {}
  } // body h1 {}

  p {
    color: rgb(252, 2, 85)
  } // body p {}
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    
}
#canvas{
border: 4px solid black;
// background-color: black;
    // padding-left: 0;
    // padding-right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 600px;
    // width: 1200px;
    // margin: auto;
    // margin-top: 8%;
// background-color: black;

}

#first-div {
  
  color: red;
  display: flex;
  border: 4px solid black;
  width: 100px;
  height: 20px;
  justify-content: center;
  align-items: center;
  // margin-left: auto;
    // margin-right: auto;
}


// this is the same as: body h1 {}