body {
  h1 {
    color: rgb(128, 0, 100)
  } // body h1 {}
  p {
    color: gold
  } // body p {}
}
body {
    // width: 100vw;
    // height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url("Stars_small_1.png");
    // display: flex;
    // justify-content: center;
    // align-items: center;
    animation: stars 2s infinite ;
}

@keyframes stars {
50%{background: opacity rgb(0, 0, 0, .5)}
100%{background: opacity rgb(0, 0, 0, 1)}
}
h1{
    font-size:50px;
    font-family: "rubber";
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    color:midnightblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 rgb(194, 187, 187), -1px 1px 0 rgb(170, 180, 19), 3px 6px 0 rgb(87, 86, 86);

}

.instructions{
    color: gold;
    border:black s;
    font-size: 30px;
    margin-left: auto;
    // margin: auto;
    margin-right: auto;
    // position: relative;
    margin-left: 700px;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 rgb(194, 187, 187), -1px 1px 0 rgb(170, 180, 19), 3px 6px 0 rgb(87, 86, 86);
}
.instructions-modal{
    font-family: "rubber";
    // display: none;
    // position: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    left: 0;
    right: 0;
    width: 500px;
    border: 10px solid transparent;
    padding: 15px;
    padding: 2em;
    text-align: center;

    // line-height: 1.5;
    color: rgb(255, 255, 255);
}

.intro p {
    border: 4px solid black;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 50px;
    // -webkit-text-stroke: .3px #0afc97
}
#start p {
  font-size: 50px;
}
.class{
  position: relative;
  // border: 4px solid red;
}
.canvas-start{
  position: relative;
  // border: 4px solid red;

}
.start{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    font-family: "rubber";
    background-image: url("Map_3.jpg");
    // text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 0px;
    // font-size: 20px;
    // margin-top: 30px;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // margin: auto;

    // width: 1100px;
    // height: 510px;
    width: 100%;
    height: 100%;
    // border: 10px solid transparent;
    // padding: 15px;
    //  background-color:black;
    // padding: 2em;
    // text-align: left;
    animation: animate_start 60s linear infinite ;
}

.start-text{
    // position: absolute;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 rgb(194, 187, 187), -1px 1px 0 rgb(170, 180, 19), 3px 6px 0 rgb(87, 86, 86);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    p{
      text-align: center;
      font-size: 50px;
    }
}

@keyframes animate_start {
0%{background-position: 0,0;}
100%{background-position: -1000px 0; }
}
  

.instructions:hover .instructions-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#start p {
    text-align: center;
    // font-size: 25x;
}
#container{
  // background-color: burlywood;
  margin-top: 22px;
  // display: flex;
  border: 5px solid black;
  // justify-content: center;
  // align-items: center;
  display: grid;
  place-items: center
  ;
}
li {
  align-items: center;
}
#options{
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 4px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 20px;
}

#nav-links{
  font-size: small ;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
// #pause{
//   width: 150%;
//   height: 200px;
//   margin-bottom: 410px;
//   margin-right: 50px;
// }
// // * {
// //   background-color: black;
// // }
#title{
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  // margin-top: 10px;
  font-size: 80px;
  
}
#canvas{
// border: 4px solid rgb(255, 0, 0);
// position: relative;
margin-right: auto;
margin-left: auto;
// margin-top: 10px;
}


// background-color: black;

// }

// .main-page-container{
//   display: flex;
//   justify-content: space-evenly;
// }



.main-page-container{
  display: flex;
  justify-content: space-evenly;
}
.instructions-header{
  font-size: 55px;
  color: gold;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 rgb(194, 187, 187), -1px 1px 0 rgb(170, 180, 19), 3px 6px 0 rgb(87, 86, 86);
}

.instruct-container{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: center;
  align-items: center;
}

.in-text{
  font-size:50px;
    font-family: "rubber";
    text-align: center;
    // margin: auto;
    // width: 50%;
    // padding: 10px;
    // color:midnightblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 rgb(194, 187, 187), -1px 1px 0 rgb(170, 180, 19), 3px 6px 0 rgb(87, 86, 86);
  font-size: 40px;
  text-align: center;
  
}
.instructions-text{
  margin-top: 10px;
}


// this is the same as: body h1 {}